body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h1 {
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
